/* MainScreen CSS */
.main-screen {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.button {
    padding: 10px 20px;
    background-color: mediumpurple;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: darkviolet;
    transform: scale(1.05);
}

/* Selected Button Styles */
.button.selected {
    background-color: white;
    color: #800080;
    border: 2px solid #800080;
}
