/* Header container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures vertical centering of elements */
    background-color: mediumpurple;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(250, 50, 200, 0.3);
}

/* Title (Schedule) in the header */
.header-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    color: white;
    /* Ensure the title is centered properly */
    flex-grow: 1;
}

/* Hover effect for header title */
.header-title:hover {
    color: honeydew;
}

.header-title h1 {
    margin: 0;
}

/* Container for buttons in header */
.header-buttons {
    display: flex;
    justify-content: center; /* Align buttons horizontally */
    align-items: center; /* Vertically center the buttons */
}
