/* General Lesson Details Container */
.lesson-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lesson-details:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Dynamic Lesson Type Styling */
.lesson-type {
    font-size: 0.75rem;
    padding: 4px 8px;
    color: white;
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

/* Lesson Type Colors */
.lesson-type.type-lecture {
    background-color: #5c6bc0; /* Lecture Color */
}

.lesson-type.type-practice {
    background-color: #800080; /* Practice Color */
}

/* Lesson Title */
.lesson-title {
    font-size: 0.91rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Lesson Room Information */
.lesson-room {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px; /* Spacing between icon and text */
    font-size: 0.95rem;
    color: #444;
}

/* Teacher Information */
.lesson-teacher {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 0.95rem;
    color: #444;
}

/* Groups Information */
.lesson-groups {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 0.95rem;
    color: #666;
}

.lesson-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* Icon Styling */
.lesson-room svg,
.lesson-teacher svg,
.lesson-groups svg,
.lesson-actions svg{
    font-size: 1.1rem; /* Icon size */
    margin-right: 0px; /* Spacing between icon and text */
    vertical-align: middle; /* Align with text */
    color: #888; /* Default icon color */
}

/* Hover Effect for Icons */
.lesson-room:hover svg,
.lesson-teacher:hover svg,
.lesson-groups:hover svg,
.lesson-action:hover svg{
    color: #7f00ff; /* Optional hover color for icons */
}
