/* GroupScreen CSS */
.group-screen {
    padding: 20px;
    background-color: #fff;
}

.group-search-container {
    margin-bottom: 20px;
}

.group-search input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: mediumpurple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-container button:hover {
    background-color: darkviolet;
    transform: scale(1.05);
}

.button-container button.selected {
    background-color: white;
    color: #800080;
    border: 2px solid #800080;
}

.group-schedule-section {
    margin-top: 20px;
}

.group-schedule-section table {
    width: 100%;
    border-collapse: collapse;
}

.group-schedule-section th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.group-schedule-section th {
    background-color: #f4f4f4;
}
